plots/*
**/GLEAMX*.fits
aegean_testing/*fits
aegean_testing/white_region_comp.reg
noise_analysis/*.fits
noise_analysis/ch*
noise_analysis/*.png
sed_plotting/*png
plots/
sky_coverage/*png 
sky_coverage/*pdf
data/